{% extends "base.html" %}

{% block title %} &bull; Contact{% endblock title %}

{% block content %}
  <div class="container">

    <!-- Email -->
    <section>
      <div class="lead"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> email</div>

      <div class="contact-section">
        <div><img src="/static/img/email.svg" alt="Email"></div>
        <div>
          pgp:
          <code data-toggle="modal" data-target="#PGPModal" href="#">61614A78 19E59D02 7C8974A5 D759A12E 10B98B4D</code>
        </div>

        <!-- PGPModal -->
        <div class="modal fade" id="PGPModal" tabindex="-1" role="dialog" aria-labelledby="PGP" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="PGPModalLabel">PGP</h4>
              </div>
              <div class="modal-body">
                to verify you can either trust a <a href="https://keys.fedoraproject.org/pks/lookup?search=0xD759A12E10B98B4D&op=vindex" target="_blank">keyserver</a>:
                <pre><code>gpg --keyserver hkps://keys.fedoraproject.org --recv-key 0xD759A12E10B98B4D</code></pre>
                <br><br>
                or https:
                <pre><code>wget https://www.roussos.cc/pub/roussos-pgp.txt<br>gpg --import roussos-pgp.txt<br>rm -f roussos-pgp.txt</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- IM -->
    <section>
      <div class="lead"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> instant messaging</div>

      <div class="contact-section">
        <div>jabber: <img src="/static/img/jabber.svg" title="xmpp (jabber)" /></div>
        <div>
          otr:
          <code>39BAFA4D AC08DCAA 758CD477 872B79ED 9A4D4928</code>
        </div>
      </div>

      <div class="contact-section">
        <div>signal: +3...40</div>
        <div>
          safety number:
          <code>05009 46326 50462 46550 45209 13244</code>
        </div>
      </div>

      <div class="contact-section">
        <div>ricochet: 72hodldd5enqt72h</div>
      </div>
    </section>

    <!-- Donate -->
    <section>
      <div class="lead"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span> donate</div>

      <div class="contact-section">
        If you value my work, we can buy me a coffee or a beer through this bitcoin wallet:
        <code data-toggle="modal" data-target="#BitcoinModal" href="#">1Dsp4z36pQHCvPF3UkgSRXVEBLRf2bH8cV</code>

        <!-- BitcoinModal -->
        <div class="modal fade" id="BitcoinModal" tabindex="-1" role="dialog" aria-labelledby="Bitcoin" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="BitcoinModalLabel">Bitcoin</h4>
              </div>
              <div class="modal-body text-center">
                <img src="/static/img/bitcoin.png" alt="bitcoin"><br>
                <code data-toggle="modal" data-target="#BitcoinModal" href="#">1Dsp4z36pQHCvPF3UkgSRXVEBLRf2bH8cV</code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
