{% extends "base.html" %}

{% block title %} &bull; Contact{% endblock title %}

{% block content %}
  <div class="container">

    <!-- Email -->
    <section>
      <div class="lead"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> email</div>

      <div class="contact-section">
        <div><img src="/static/img/email.svg" alt="Email"></div>
        <div>
          pgp:
          <code data-toggle="modal" data-target="#PGPModal" href="#">0A42F419 4D19DA71 11A1BA09 3F353739 BCE4F3DE</code>
        </div>

        <!-- PGPModal -->
        <div class="modal fade" id="PGPModal" tabindex="-1" role="dialog" aria-labelledby="PGP" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="PGPModalLabel">PGP</h4>
              </div>
              <div class="modal-body">
                <pre><code>wget https://roussos.cc/pub/roussos-pgp.txt<br>gpg --import roussos-pgp.txt<br>rm -f roussos-pgp.txt</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- IM -->
    <section>
      <div class="lead"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> instant messaging</div>

      <div class="contact-section">
        <div>jabber: <img src="/static/img/jabber.svg" title="xmpp (jabber)" /></div>
        <div>
          otr:
          <code>39BAFA4D AC08DCAA 758CD477 872B79ED 9A4D4928</code>
        </div>
      </div>

      <div class="contact-section">
        <div>signal: +3...40</div>
        <div>
          safety number:
          <code>48946 32093 76377 16316 05937 43391</code>
        </div>
      </div>

      <div class="contact-section">
        <div>ricochet: 33uipgdbsxbjhchc</div>
      </div>
    </section>

    <!-- Donate -->
    <section>
      <div class="lead"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span> donate</div>

      <div class="contact-section">
        If you value my work, we can buy me a coffee or a beer through:
        <div>
          <a data-toggle="modal" data-target="#FaircoinModal" href="#">faircoin</a>
        </div>
        <div>
          <a href="https://liberapay.com/comzeradd/" target="_blank">liberapay</a>
        </div>
        <div>
          <a href="https://www.paypal.me/comzeradd" target="_blank">paypal</a>
        </div>

        <!-- FaircoinModal -->
        <div class="modal fade" id="FaircoinModal" tabindex="-1" role="dialog" aria-labelledby="Faircoin" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="FaircoinModalLabel">Faircoin</h4>
              </div>
              <div class="modal-body text-center">
                <img src="/static/img/faircoin.png" alt="bitcoin"><br>
                <code data-toggle="modal" data-target="#FaircoinModal" href="#">fM9aLT4XMfNChBF2Zk23rKcjrwHvBA5KCE</code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
