{% extends "base.html" %}

{% block title %}&bull; {{ title }}{% endblock title %}

{% block toplinks %}class="home-top-links"{% endblock %}

{% block content %}
  <div class="home-bg">
    <img src="/static/img/bg.jpg" class="home-bg">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 home-bio">
        <div class="home-box">
          <p>
            Hi! I'm <b>Nikos Roussos</b>, Open-Source Engineer, Digital Rights Activist,
            and a Free mind :)
          </p>

          <p>
            I'm working at <a href="//mozilla.org" target="_blank">Mozilla</a>, making sure the web
            remains open.
          </p>

          <p>
            I contribute to the <a href="//fedoraproject.org" target="_blank">Fedora Project</a>,
            helping on developing a Free (as in speech) Operating System. I participate and/or support
            groups and organizations that fight for Software and Network Freedom, like
            <a href="//fsfe.org" target="_blank">Free Software Foundation Europe</a> (Greece Coordinator),
            <a href="//eff.org" target="_blank">Electronic Frontier Foundation</a>,
            <a href="http://www.osmfoundation.org" target="_blank">OpenStreetMap Foundation</a>.
          </p>

          <p>I'm located at Athens, Greece (ATH) and you can meet me in person (most of the days) at
            <a href="//hackerspace.gr" target="_blank">Athens Hackerspace</a>, coding for
            <a href="//github.com/comzeradd" target="_blank">various projects</a>.
          </p>
        </div>

        <p>
          <a href="feed.xml" target="_blank"><img src="/static/img/rss.png" alt="feed" title="feed"></a>&nbsp;&nbsp;&nbsp;
          <a href="https://librenet.gr/people/d95d088043de0132801b7b2db0e68946" target="_blank"><img src="/static/img/diaspora.png" title="diaspora" alt="diaspora"></a>&nbsp;&nbsp;&nbsp;
          <a rel="me" href="https://twitter.com/comzeradd" target="_blank"><img src="/static/img/twitter.png" title="twitter" alt="twitter"></a>&nbsp;&nbsp;&nbsp;
          <a href="http://linkedin.com/in/comzeradd" target="_blank"><img src="/static/img/linkedin.png" title="linkedin" alt="linkedin"></a>&nbsp;&nbsp;&nbsp;
          <a href="http://photos.roussos.cc" target="_blank"><img src="/static/img/flickr.png" alt="flickr" title="flickr"></a>&nbsp;&nbsp;&nbsp;
          <a href="http://videos.roussos.cc" target="_blank"><img src="/static/img/vimeo.png" alt="vimeo" title="vimeo"></a>&nbsp;&nbsp;&nbsp;
          <a rel="me" href="https://github.com/comzeradd" target="_blank"><img src="/static/img/github.png" title="github" alt="github"></a>&nbsp;&nbsp;&nbsp;
          <a href="http://www.last.fm/user/comzeradd/" target="_blank"><img src="/static/img/lastfm.png" title="lastfm" alt="lastfm"></a>&nbsp;&nbsp;&nbsp;
          <a href="http://ridewithgps.com/users/80721" target="_blank"><img src="/static/img/bike.png" title="bike rides" alt="bike rides"></a>&nbsp;&nbsp;&nbsp;
          <a href="http://www.mixcloud.com/comzeradd/" target="_blank"><img src="/static/img/mixcloud.png" title="mixcloud" alt="mixcloud"></a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}class="home-footer"{% endblock %}
