{% extends "base.html" %}

{% block toplinks %}class="home-top-links"{% endblock %}

{% block content %}
  <div class="home-bg">
    <img src="/static/img/bg.jpg" class="home-bg">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 home-bio">
        <div class="home-box">
          <p>
            Hi! I'm <b>Nikos Roussos</b>, Open-Source Engineer, <strike>Digital</strike> Human Rights Activist,
            and a Free mind :)
          </p>

          <p>
            I'm working at <a href="https://www.greenpeace.org/" target="_blank">Greenpeace</a>,
            against environmental degradation and trying to change attitudes and behaviour on protecting the environment.
          </p>

          <p>
            I am a member of <a href="//fsfe.org" target="_blank">Free Software Foundation Europe</a> General Assembly,
            imagining a future where we are empowered and not restricted by the technology we use.
            I participate at the <a href="https://www.cryptoparty.in/athens" target="_blank">Cryptoparty Athens</a> team,
            where we run workshops in an effort to educate people on privacy and security issues of their digital lives.
            I am a member of <a href="https://libreops.cc/" target="_blank">LibreOps</a> group,
            where we run and build decentralized opensource public services.
          </p>

          <p>I'm located at Athens, Greece (ATH).</p>
        </div>

        <p class="social">
          <a href="feed.xml" target="_blank" class="section"><i class="fa fa-rss" aria-hidden="true"></i></a>

          <a href="https://librenet.gr/people/d95d088043de0132801b7b2db0e68946" target="_blank"><i class="fa fa-diaspora" aria-hidden="true"></i></a>
          <a rel="me" href="https://twitter.com/comzeradd" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="http://linkedin.com/in/comzeradd" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="http://ridewithgps.com/users/80721" target="_blank" class="section"><i class="fa fa-bicycle" aria-hidden="true"></i></a>

          <a href="https://500px.com/comzeradd" target="_blank"><i class="fa fa-500px" aria-hidden="true"></i></a>
          <a href="http://photos.roussos.cc" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a>
          <a href="http://videos.roussos.cc" target="_blank" class="section"><i class="fa fa-vimeo" aria-hidden="true"></i></a>

          <a rel="me" href="https://github.com/comzeradd" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://gitlab.com/comzeradd" target="_blank" class="section"><i class="fa fa-gitlab" aria-hidden="true"></i></a>

          <a href="https://comzeradd.bandcamp.com/" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
          <a href="http://www.mixcloud.com/comzeradd/" target="_blank"><i class="fa fa-mixcloud" aria-hidden="true"></i></a>
          <a href="http://www.last.fm/user/comzeradd/" target="_blank"><i class="fa fa-lastfm" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
