{% extends "base.html" %}

{% block title %} &bull; Music{% endblock title %}

{% block content %}
  <div class="container">

    <div class="row album">
      <div class="col-sm-3">
        <a href="https://comzeradd.bandcamp.com/album/the-past-is-over" target="_blank"><img class="cover" src="/static/img/music/the_past_is_over.png" alt="the past is over"></a>
      </div>
      <div class="col-sm-9">
        <p class="title">the past is over</p>

        <p>Released at 2018, with two tracks that were originally part of the "We Do Not Care" (2002) collective sampler.</p>
        <p class="links">available at:
          <a href="https://comzeradd.bandcamp.com/album/the-past-is-over" target="_blank">bandcamp</a>,
          <a href="https://www.discogs.com/release/11642126" target="_blank">discogs</a>,
          <a href="https://soundcloud.com/comzeradd/sets/the-past-is-over" target="_blank">soundcloud</a>
        </p>
      </div>
    </div>

    <div class="row album">
      <div class="col-sm-3">
        <a href="https://www.mixcloud.com/comzeradd/" target="_blank"><img class="cover" src="/static/img/music/project_mayhem.png" alt="project mayhem"></a>
      </div>
      <div class="col-sm-9">
        <p class="title">project mayhem</p>
        <p>A mixtapes experiment, based on tracks that occasionally stuck in my head.</p>
        <p class="links">available at: <a href="https://www.mixcloud.com/comzeradd/" target="_blank">mixcloud</a></p>
      </div>
    </div>

  </div>
{% endblock %}
