{% extends "base.html" %}

{% block title %} &bull; Places{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="/static/css/lib/mapbox.css">
{% endblock %}

{% block content %}
  <div class="container">
    <p>
      This is a map diary of the places I've been. Major cities, airports and hackerspaces.
    </p>

    <p>
      <strong>Major Cities:</strong> Athens, Istanbul, Milano, Bistrita, Vienna, Prague, Warsaw, Zurich,
      Stuttgart, Berlin, Hamburg, Copenhagen, Malmo, Oslo, Bergen, Trondheim, Amsterdam, Antwerp, Brussels,
      Paris, London, Sheffield, Edinburgh, Dublin, Barcelona, Madrid, Badajoz, Lisbon, Montreal, Quebec City, Ottawa,
      Vancouver, Whistler, New York, Charleston, Orlando, Portland, San Francisco, Mountain View, Hilo, Honolulu,
      Singapore.
    </p>

    <p>
      <strong>Airports:</strong> ATH, IOA, SKG, AXD, HER, IST, OTP, CLJ, VIE, MXP, WAW, MUC, FRA, SXF, TXL, STR, HAM,
      GVA, ZRH, CPH, OSL, TRD, BCN, MAD, BJZ, LIS, CDG, BRU, AMS, LCY, LHR, LGW, MAN, EDI, DUB, YUL, YYZ, YVR, EWR,
      PHL, CLT, CHS, MCO, SFO, SJC, PDX, KOA, HNL, SIN
    </p>

    <p>
      <strong>Hackerspaces:</strong> Hackerspace.gr, Lamdaspace, P2P Lab, Metalab, C-base, Labitat, TOG, NYC Resistor, Hackerspace SG.
    </p>

    <p>
      <img src="/static/img/flights.jpg" alt="flights" class="img-responsive">
    </p>

  </div>
{% endblock %}
