{% extends "base.html" %}

{% block title %} &bull; Places{% endblock title %}

{% block body_class %}places{% endblock %}

{% block content %}
  <div class="container">
    <p class="lead">
      This is a map diary of the places I've been. Major cities, airports and hackerspaces.
    </p>

    <section>
      <h3>Major Cities</h3>

      <p>
        Athens, Istanbul, Milano, Naples, Bistrita, Novi Sad, Haifa, Vienna, Prague, Warsaw, Zurich,
        Stuttgart, Berlin, Hamburg, Copenhagen, Malmo, Oslo, Bergen, Trondheim, Amsterdam, Antwerp, Brussels,
        Paris, London, Sheffield, Edinburgh, Dublin, Barcelona, Madrid, Badajoz, Valladolid, Bilbao, San Sebastian,
        Pamplona, Zaragoza, Valencia, Alicante, Cartagena, Granada, Malaga, Seville, Faro, Aveiro, Porto, Lisbon,
        Montreal, Quebec City, Ottawa, Vancouver, Whistler, New York, Charleston, Orlando, Portland, San Francisco,
        Mountain View, Hilo, Honolulu, Singapore, Kyoto, Osaka, Tokyo.
      </p>
    </section>

    <section>
      <h3>Airports</h3>

      <p>
        ATH, IOA, SKG, AXD, HER, BEG, IST, OTP, CLJ, TLV, VIE, MXP, FCO, NAP, WAW, MUC, FRA, SXF,
        TXL, STR, HAM, GVA, ZRH, CPH, OSL, TRD, OPO, BCN, MAD, BJZ, LIS, CDG, BRU, AMS, LCY, LHR, LGW, MAN,
        EDI, DUB, YUL, YYZ, YVR, EWR, PHL, CLT, CHS, MCO, SFO, SJC, PDX, KOA, HNL, SIN, NRT.
      </p>
    </section>

    <section>
      <h3>Hackerspaces</h3>

      <p>
        Hackerspace.gr, Lamdaspace, P2P Lab, Metalab, C-base, Labitat, TOG, NYC Resistor, Hackerspace SG.
      </p>
    </section>

    <p class="mt-5">
      <img src="/static/img/places/flights.jpg" alt="flights" class="img-fluid">
    </p>

  </div>
{% endblock %}
