{% extends "base.html" %}

{% block title %} &bull; Projects{% endblock title %}

{% block content %}
  <div class="container">
    <section>
      This is a list of projects I develop or/and contribute.
      For a more realtime contribution feed you can check my
      <a href="https://gitlab.com/comzeradd/" target="_blank">Gitlab</a> and
      <a href="https://github.com/comzeradd/" target="_blank">Github</a> profiles.
    </section>

    <section>
      <strong>Personal</strong>

      <div>
        <a href="https://gitlab.com/comzeradd/monopati" target="_blank">monopati</a>: a minimalistic static content generator.
      </div>

      <div>
        <a href="https://gitlab.com/comzeradd/vuejs-spa" target="_blank">vuejs-minimal-spa</a>: a minimal single page application with vue.js.
      </div>

      <div>
        <a href="https://gitlab.com/comzeradd/funky-mailman" target="_blank">funky-mailman</a>: a mailman theme.
      </div>
    </section>

    <section>
      <strong>Greenpeace</strong> - <a href="https://www.greenpeace.org/" target="_blank" class="details">greenpeace.org</a>

      <p class="small">
        Non-Profit organization aiming to change attitudes and behaviour on protecting the environment - Web Engineer
      </p>

      <div>
        <a href="https://medium.com/planet4" target="_blank">Planet4</a>: A new Engagement and Content Management web platform for the organization.
      </div>
    </section>

    <section>
      <strong>Athens Hackerspace</strong> - <a href="https://www.hackerspace.gr/" target="_blank" class="details">hackerspace.gr</a>

      <p class="small">
        A magical place in the physical world - Founder and active operator
      </p>

      <div>
        <a href="https://www.hackerspace.gr/wiki/LibreOps" target="_blank">LibreOps</a>: Our part of (re-)decentralizing the net.
      </div>

      <div>
        <a href="https://github.com/hsgr/panopticon" target="_blank">panopticon</a>: hackerspace.gr website.
      </div>
    </section>

    <section>
      <strong>Fedora Project</strong> - <a href="https://getfedora.org/" target="_blank" class="details">fedoraproject.org</a>

      <p class="small">
        Free (as in speech) operating system - Member of the Developers/Packagers group
      </p>

      <div>
        <a href="https://admin.fedoraproject.org/pkgdb/packager/comzeradd/" target="_blank">packages</a>: pkgdb list of maintained packages.
      </div>
    </section>

    <section>
      <strong>Initiatives</strong>

      <p class="small">
        Other groups and initiatives that I participate or just contribute.
      </p>

      <div>
        <a href="http://fsfe.org/" target="_blank">Free Software Foundation Europe</a>: general assembly member.
      </div>

      <div>
        <a href="https://commons.gr/" target="_blank">Greek Commons Alliance</a>: a platform for all commons and p2p projects.
      </div>

      <div>
        <a href="https://www.cryptoparty.in/" target="_blank">Cryptoparty</a>: running workshops, mostly in athens.
      </div>

      <div>
        <a href="http://osmfoundation.org/" target="_blank">Open Street Map Foundation</a>: contributor and occassionaly running workshops.
      </div>
    </section>

  </div>
{% endblock %}


{% block javascript %}
  <script src="/static/js/lib/mapbox.js"></script>
  <script src="/static/js/places.js"></script>
{% endblock javascript %}
