{% extends "base.html" %}

{% block title %} &bull; Projects{% endblock title %}

{% block content %}
  <div class="container">
    <section>
      This is a snapshot of projects I develop/contribute and organizations I participate.
      For a more realtime contribution feed you can check my
      <a href="https://gitlab.com/comzeradd/" target="_blank">Gitlab</a> and
      <a href="https://github.com/comzeradd/" target="_blank">Github</a> profiles.
    </section>

    <section>
      <strong>Personal</strong>

      <div>
        <a href="https://gitlab.com/comzeradd/monopati" target="_blank">monopati</a>: a minimalistic static content generator.
      </div>

      <div>
        <a href="https://gitlab.com/comzeradd/vuejs-spa" target="_blank">vuejs-minimal-spa</a>: a minimal single page application with Vue.js.
      </div>

      <div>
        <a href="https://gitlab.com/comzeradd/funky-mailman" target="_blank">funky-mailman</a>: a mailman theme.
      </div>
    </section>

    <section>
      <strong>Greenpeace</strong> - <a href="https://www.greenpeace.org/" target="_blank" class="details">greenpeace.org</a>

      <p class="small">
        Non-Profit organization aiming to change attitudes and behaviour on protecting the environment - Web Engineer.
      </p>

      <div>
        <a href="https://medium.com/planet4" target="_blank">Planet4</a>: A new Engagement and Content Management web platform for the organization.
      </div>
    </section>

    <section>
      <strong>Autoverse</strong> - <a href="https://autoverse.net/" target="_blank" class="details">autoverse.net</a>

      <p class="small">
        Open Source services and products.
      </p>
    </section>

    <section>
      <strong>LibreOps</strong> - <a href="https://libreops.cc/" target="_blank" class="details">libreops.cc</a>

      <p class="small">
        Our part of (re-)decentralizing the net.
      </p>

      <div>
        <a href="https://gnu.gr/" target="_blank">gnu.gr</a>: A public Jabber server.
      </div>

      <div>
        <a href="https://librenet.gr/" target="_blank">librenet.gr</a>: A diaspora* pod.
      </div>

      <div>
        <a href="https://libretooth.gr/" target="_blank">libretooth.gr</a>: A mastodon instance.
      </div>
    </section>

    <section>
      <strong>Fedora Project</strong> - <a href="https://getfedora.org/" target="_blank" class="details">fedoraproject.org</a>

      <p class="small">
        Free (as in speech) operating system - Member of the Developers/Packagers group.
      </p>

      <div>
        <a href="https://src.fedoraproject.org/user/comzeradd" target="_blank">packages</a>: list of maintained packages.
      </div>
    </section>

    <section>
      <strong>Initiatives</strong>

      <p class="small">
        Other groups and initiatives that I participate or just contribute.
      </p>

      <div>
        <a href="http://fsfe.org/" target="_blank">Free Software Foundation Europe</a>: General Assembly member.
      </div>

      <div>
        <a href="https://commons.gr/" target="_blank">Greek Commons Alliance</a>: a platform for all commons and p2p projects.
      </div>

      <div>
        <a href="https://www.cryptoparty.in/" target="_blank">Cryptoparty</a>: running privacy/security workshops, mostly in Athens.
      </div>

      <div>
        <a href="http://osmfoundation.org/" target="_blank">Open Street Map Foundation</a>: contributor and occassionaly running workshops.
      </div>
    </section>

    <section>
      <strong>Alumni</strong>

      <p class="small">
        Projects and organizations that I used to contribute in the past.
      </p>

      <div>
        <a href="https://www.hackerspace.gr/" target="_blank">Hackerspace.gr</a>: A physical space, co-founded in 2011.
      </div>

      <div>
        <a href="https://www.mozilla.org/" target="_blank">Mozilla</a>: Open Web non-profit, full-time Web Engineer & Volunteer Representative.
      </div>

      <div>
        <a href="https://upsat.gr/" target="_blank">UPsat</a>: The first Open Source Satellite, developed the ground Telemetry software.
      </div>

      <div>
        <a href="https://satnogs.org/" target="_blank">SatNOGS</a>: A global network of Satellite Ground Stations, Web Engineer.
      </div>

      <div>
        <a href="https://hellug.gr/" target="_blank">Hellug</a>: Greek Linux User Group, chairman of the board for two years.
      </div>
    </section>

  </div>
{% endblock %}


{% block javascript %}
  <script src="/static/js/lib/mapbox.js"></script>
  <script src="/static/js/places.js"></script>
{% endblock javascript %}
