{% extends "base.html" %}

{% block title %} &bull; Projects{% endblock title %}

{% block body_class %}projects{% endblock %}

{% block content %}
  <div class="container">
    <p class="lead">
      This is a snapshot of projects I develop/contribute and organizations I participate.
      For a more realtime contribution feed you can check my
      <a href="https://gitlab.com/comzeradd/" target="_blank">Gitlab</a> and
      <a href="https://github.com/comzeradd/" target="_blank">Github</a> profiles.
    </p>

    <section>
      <h3>Personal</h3>

      <div>
        <a href="https://codeberg.org/comzeradd/monopati" target="_blank">Monopati</a>: minimalistic static site generator.
      </div>

      <div>
        <a href="https://codeberg.org/comzeradd/radicale-imap" target="_blank">Radicale IMAP</a>: radicale IMAP authentication plugin.
      </div>

      <div>
        <a href="https://codeberg.org/comzeradd/config-email-smtp" target="_blank">Config Email SMT</a>: wordpress plugin to configure SMTP email.
      </div>

      <div>
        <a href="https://codeberg.org/comzeradd/anonymize-comments-ips" target="_blank">Anonymize Comments IPs</a>: wordpress plugin that strips comment authors IP address.
      </div>

      <div>
        <a href="https://codeberg.org/comzeradd/tor-in-a-box" target="_blank">Tor in a Box</a>: ansible scripts for setting up a Tor relay.
      </div>
    </section>

    <section>
      <h3>
        Greenpeace
      </h3>

      <p class="small">
        <a href="https://www.greenpeace.org/" target="_blank" class="details">Greenpeace International</a>
        - non-profit organization aiming to change attitudes and behaviour on protecting the environment.
      </p>

      <div>
        <a href="https://medium.com/planet4" target="_blank">Planet 4</a>: Engagement and Content Management web platform for the organization.
      </div>
    </section>

    <section>
      <h3>
        Autoverse
      </h3>

      <p class="small">
        <a href="https://autoverse.net/" target="_blank" class="details">autoverse.net</a>
        - open source services and products.
      </p>
    </section>

    <section>
      <h3>
        LibreOps
      </h3>

      <p class="small">
        <a href="https://libreops.cc/" target="_blank" class="details">libreops.cc</a>
        - Our part of (re-)decentralizing the net.
      </p>

      <div>
        <a href="https://libretooth.gr/" target="_blank">Libretooth</a>: mastodon instance.
      </div>

      <div>
        <a href="https://libreops.cc/signalproxy.html" target="_blank">Signal Proxy</a>: access to Signal in places where it's being actively censored.
      </div>

      <div>
        <a href="https://libredns.gr/" target="_blank">LibreDNS</a>: encrypted DNS service.
      </div>

      <div>
        <a href="https://meet.libreops.cc/" target="_blank">Jitsi Meet</a>: video conferencing.
      </div>

    </section>

    <section>
      <h3>Initiatives</h3>

      <p class="small">
        Other groups and initiatives that I participate or just contribute.
      </p>

      <div>
        <a href="http://fsfe.org/" target="_blank">Free Software Foundation Europe</a>: Youth Hacking 4 Freedom, jury member.
      </div>

      <div>
        <a href="https://www.cryptoparty.in/" target="_blank">Cryptoparty</a>: running privacy/security workshops, mostly in Athens.
      </div>

      <div>
        <a href="http://osmfoundation.org/" target="_blank">Open Street Map Foundation</a>: contributor and occassionaly running workshops.
      </div>

      <div>
        <a href="https://make.wordpress.org/" target="_blank">WordPress</a>: contributor.
      </div>
    </section>

    <section>
      <h3>Alumni</h3>

      <p class="small">
        Projects and organizations that I used to contribute in the past.
      </p>

      <div>
        <a href="https://commons.gr/" target="_blank">Greek Commons Alliance</a>: a platform for all commons and p2p projects.
      </div>

      <div>
        <a href="https://www.hackerspace.gr/" target="_blank">Hackerspace.gr</a>: a physical space, co-founded in 2011.
      </div>

      <div>
        <a href="https://www.mozilla.org/" target="_blank">Mozilla</a>: open Web non-profit, full-time Web Engineer & Volunteer Representative.
      </div>

      <div>
        <a href="https://getfedora.org/" target="_blank" class="details">Fedora Project</a>:  free (as in speech) operating system - member of the Developers/Packagers group.
      </div>

      <div>
        <a href="https://upsat.gr/" target="_blank">UPsat</a>: the first Open Source Satellite, developed the ground Telemetry software.
      </div>

      <div>
        <a href="https://satnogs.org/" target="_blank">SatNOGS</a>: global network of Satellite Ground Stations, Web Engineer.
      </div>

      <div>
        <a href="https://hellug.gr/" target="_blank">Hellug</a>: Greek Linux User Group, chairman of the board for two years.
      </div>
    </section>

  </div>
{% endblock %}
