{% extends "base.html" %}

{% block title %} &bull; Readings{% endblock title %}

{% block body_class %}readings{% endblock %}

{% block content %}
  <div class="container books">
    <p class="lead">
      This is an incomplete list of <a href="https://openlibrary.org/people/comzeradd8656/books/currently-reading" target="_blank">books</a> and <a href="https://getpocket.com/@84dpaT24A60x8d39fngYsQ4g2edfA1e56bOSd0Lbs9l787Z7e6b7eIf5b13SIe24" target="_blank">articles</a> that I have found to be interesting and stimulating over the time.
      This list doesn't equals endorsement.
    </p>

    <section>
      <h3>articles</h3>

      <ul>
        <li class="article">
          <a href="https://www.lowtechmagazine.com/2018/01/how-much-energy-do-we-need.html" target="_blank">How Much Energy Do We Need?</a>
          - Low-Tech Magazine
        </li>
        <li class="article">
          <a href="https://crimethinc.com/2013/10/04/feature-deserting-the-digital-utopia" target="_blank">Deserting the Digital Utopia: Computers against Computing</a>
          - CrimethInc.
        </li>
        <li class="article">
          <a href="http://unevenearth.org/2018/08/the-social-ideology-of-the-motorcar/" target="_blank">The social ideology of the motorcar</a>
          - André Gorz
        </li>
        <li class="article">
          <a href="https://www.nationalgeographic.com/magazine/2018/04/race-genetics-science-africa/" target="_blank">There’s No Scientific Basis for Race—It's a Made-Up Label</a>
          - Elizabeth Kolbert, National Geographic
        </li>
        <li class="article">
          <a href="https://www.greenpeace.org/international/story/21423/failed-economics/" target="_blank">Failed Economics</a>
          - Rex Weyler, Greenpeace
        </li>
        <li class="article">
          <a href="http://www.monochrom.at/hacking-the-spaces/" target="_blank">Hacking the Spaces</a>
          - Johannes Grenzfurthner & Frank Apunkt Schneider, Monochrom
        </li>
        <li class="article">
          <a href="https://noisysquare.com/ethics-and-power-in-the-long-war-eleanor-saitta-dymaxion/" target="_blank">Ethics and Power in the Long War</a>
          - Eleanor Saitta
        </li>
        <li class="article">
          <a href="https://theanarchistlibrary.org/library/renzo-novatore-of-individualism-and-rebellion" target="_blank">Of Individualism and Rebellion </a>
          - Renzo Novatore
        </li>
        <li class="article">
          <a href="http://generation-online.org/c/fcimmateriallabour3.htm" target="_blank">Immaterial Labor</a>
          - Maurizio Lazzarato
        </li>
        <li class="article">
          <a href="https://jofreeman.com/joreen/tyranny.htm" target="_blank">The Tyranny of Structurelessness</a>
          - Jo Freeman
        </li>
        <li class="article">
          <a href="http://peerproduction.net/issues/issue-5-shared-machine-shops/peer-reviewed-articles/feminist-hackerspaces-the-synthesis-of-feminist-and-hacker-cultures/" target="_blank">Feminist Hackerspaces: The Synthesis of Feminist and Hacker Cultures</a>
          - Sophie Toupin, Journal of Peer Production
        </li>
        <li class="article">
          <a href="https://grist.org/article/bitcoins-energy-use-got-studied-and-you-libertarian-nerds-look-even-worse-than-usual/" target="_blank">Bitcoin’s energy use got studied, and you libertarian nerds look even worse than usual</a>
          - Eric Holthaus, Grist
        </li>
      </ul>
    </section>

    <section>
      <h3>books</h3>

      <h5 class="tags"><span class="badge badge-secondary">politics</span> <span class="badge badge-secondary">philosophy</span> <span class="badge badge-secondary">ecology</span></h5>

      <div class="row">
        <div class="book col-sm-3">
          <img src="/static/img/readings/34466958.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://theanarchistlibrary.org/library/david-graeber-bullshit-jobs" target="_blank">Bullshit Jobs: A Theory</a>
          </div>
          <div class="author">
            David Graeber
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/28095312.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://dark-mountain.net/product/uncivilisation-the-dark-mountain-manifesto/" target="_blank">Uncivilisation</a>
          </div>
          <div class="author">
            Dark Mountain
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/2611445.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://theanarchistlibrary.org/library/alfredo-m-bonanno-armed-joy" target="_blank">Armed Joy</a>
          </div>
          <div class="author">
            Alfredo M. Bonanno
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/20776061.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://tacticaltech.org/projects/visualising-information-for-advocacy-2013/" target="_blank">Visualising information for advocacy</a>
          </div>
          <div class="author">
            Tactical Technology Collective
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/44582901.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://rosalux.gr/el/publication/i-logokrisia-stin-ellada" target="_blank">Η λογοκρισία στην Ελλάδα</a>
          </div>
          <div class="author">
            Ίδρυμα Ρόζα Λούξεμπουργκ
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/51893.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL98175W/Also_sprach_Zarathustra" target="_blank">Thus spake Zarathustra</a>
          </div>
          <div class="author">
            Friedrich Nietzsche
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/1677216.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL8711965W/Society_of_the_Spectacle" target="_blank"> Society of the Spectacle</a>
          </div>
          <div class="author">
            Guy Debord
          </div>
        </div>
      </div>

      <h5 class="tags"><span class="badge badge-secondary">science</span> <span class="badge badge-secondary">tech</span></h5>

      <div class="row">
        <div class="book col-sm-3">
          <img src="/static/img/readings/179744.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL3474169W/The_Emperor's_New_Mind_Concerning_Computers_Minds_and_the_Laws_of_Physics" target="_blank">The Emperor's New Mind: Concerning Computers, Minds and the Laws of Physics</a>
          </div>
          <div class="author">
            Roger Penrose
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/399710.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL3948850W/The_astonishing_hypothesis" target="_blank">The Astonishing Hypothesis</a>
          </div>
          <div class="author">
            Francis Crick
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/299096.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL1959208W/The_symbiotic_planet" target="_blank">The symbiotic planet</a>
          </div>
          <div class="author">
            Lynn Margulis
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/2081.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL716849W/The_Mind's_I" target="_blank">The Mind’s I</a>
          </div>
          <div class="author">
            Douglas R. Hofstadter, Daniel C. Dennett
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/7347910.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL716849W/The_Mind's_I" target="_blank">What If?</a>
          </div>
          <div class="author">
            Randall Munroe
          </div>
        </div>
      </div>

      <h5 class="tags"><span class="badge badge-secondary">fiction</span></h5>

      <div class="row">
        <div class="book col-sm-3">
          <img src="/static/img/readings/13651.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL59863W/The_dispossessed" target="_blank">The Dispossessed</a>
          </div>
          <div class="author">
            Ursula K. Le Guin
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/1651150.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL11442145W/Permutation_city" target="_blank">Permutation City</a>
          </div>
          <div class="author">
            Greg Egan
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/35870.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL8860083W/Ghost_in_the_shell" target="_blank">Ghost in the Shell</a>
          </div>
          <div class="author">
            Masamune Shirow
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/8423522.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL3335292W/The_Catcher_in_the_Rye" target="_blank">The Catcher in the Rye</a>
          </div>
          <div class="author">
            J.D. Salinger
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/8231867.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL27258W/Neuromancer" target="_blank">Neuromancer</a>
          </div>
          <div class="author">
            William F. Gibson
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/420836.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL20402W/The_quantity_theory_of_insanity" target="_blank">The quantity theory of insanity</a>
          </div>
          <div class="author">
            Will Self
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/12648254.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL2172524W/Valis" target="_blank">Valis</a>
          </div>
          <div class="author">
            Philip K. Dick
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/5728633.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL5734718W/Little_Brother" target="_blank">Little Brother</a>
          </div>
          <div class="author">
            Cory Doctorow
          </div>
        </div>

        <div class="book col-sm-3">
          <img src="/static/img/readings/7144.jpg" alt="cover" class="cover">
          <div class="title">
            <a href="https://openlibrary.org/works/OL5734718W/Little_Brother" target="_blank">Crime and Punishment</a>
          </div>
          <div class="author">
            Fyodor Dostoyevsky
          </div>
        </div>
      </div>

    </section>
  </div>
{% endblock %}
