<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ sitename }}{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="flattr:id" content="me35r1">
    <meta property="og:site_name" content="{{ sitename }}">
    {% block meta %}
      <meta property="og:title" content="{{ sitename }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ rooturl }}{{ link }}">
      <meta property="og:image" content="{{ rooturl }}static/img/{{ logo }}">
    {% endblock %}
    <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="{{ sitename }}">
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/fork-awesome/css/fork-awesome.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico">

  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div id="wrapper">

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="avatar">
              <a href="/">
                <img src="/static/img/{{ logo }}" alt="{{ author }}" class="avatar rounded-circle" />
              </a>
            </p>
            <h3 class="top-links">
              <a href="/index.html">About</a> &bull;
              <a href="/blog.html">Blog</a> &bull;
              <a href="/projects.html">Projects</a> &bull;
              <a href="/music.html">Music</a> &bull;
              <a href="/places.html">Places</a> &bull;
              <a href="/contact.html">Contact</a>
            </h3>
          </div>
        </div>
      </div>

      <div class="content">
        {% block content %}{% endblock content %}
      </div>

    </div>

    <div id="footer">
      <div class="container">
        {% block footer %}
          powered by <a href="https://github.com/comzeradd/monopati" target="_blank">monopati</a> &bull;
          {{ license }}
        {% endblock %}
      </div>
    </div>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
