<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ sitename }}{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="flattr:id" content="me35r1">
    <meta property="og:site_name" content="{{ sitename }}">
    {% block meta %}
      <meta property="og:title" content="{{ sitename }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ rooturl }}{{ link }}">
      <meta property="og:image" content="{{ rooturl }}static/img/{{ logo }}">
    {% endblock %}
    <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="{{ sitename }}">
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/fork-awesome/css/fork-awesome.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico">

  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div id="wrapper">

      <header role="heading">
        <h1 class="title">
          Nikos Roussos
        </h1>

        <div class="avatar">
          <a href="/">
            <img src="/static/img/{{ logo }}" alt="{{ author }}" class="rounded-circle">
          </a>
        </div>

        <ul class="nav-links">
          <li><a href="/">about</a></li>
          <li><a href="/blog/" class="blog">blog</a></li>
          <li><a href="/photos/" class="photos">photos</a></li>
          <li><a href="/projects/" class="projects">projects</a></li>
          <li><a href="/music/" class="music">music</a></li>
          <li><a href="/places/" class="places">places</a></li>
          <li><a href="/readings/" class="readings">readings</a></li>
          <li><a href="/contact/" class="contact">contact</a></li>
        </ul>
      </header>

      <main role="main" class="content">
        {% block content %}{% endblock content %}
      </main>

    </div>

    <footer>
      <div class="container">
        {% block footer %}
          powered by <a href="https://github.com/comzeradd/monopati" target="_blank">monopati</a> &bull;
          {{ license }}
        {% endblock %}
      </div>
    </footer>

  </body>
</html>
